<h1><%=t :site_name %></h1>
<% if @properties.any? %>
  <% @properties.each do |property| %>
    <div><%= property.photo %></div>
    <h2><%= property.title %></h2>
    <dl>
      <dt><%= t('location_label') %>:</dt> <dd><%= property.property_location %></dd>
      <dt>Tipo:</dt> <dd><%= property.property_type %></dd>
      <dt>Quartos:</dt> <dd><%= property.rooms %></dd>
      <dt>Diária:</dt> <dd><%= number_to_currency(property.daily_rate) %></dd>
    </dl>
  <% end %>
<% else %>
  <div class="error">Ainda não existem imóveis para serem exibidos</div>
<% end %>
